@model WebAppTemplate.ViewModels.ContactUsSubmissionVM

@{
    ViewBag.Title = "Submission";
}

<h2>Contact Us Submission</h2>


<h2>Thank You!</h2>

<p>Your question has been recevied successfully. We'll get back to you shortly!</p>